@use "sass:meta";
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto;
$font-family-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas;
:root {
    --font-family-sans-serif: #{meta.inspect($font-family-sans-serif)};
    --font-family-monospace: #{meta.inspect($font-family-monospace)};
    font-family: Roboto;
}

.table {
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    max-width: fit-content;
    background-color: white;
    -webkit-box-shadow: 4px 4px 16px 0px rgb(30, 30, 30);
    -moz-box-shadow: 4px 4px 16px 0px rgb(30, 30, 30);
    box-shadow: 4px 4px 16px 0px rgb(30, 30, 30);
}

.item {
    margin: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.add-new-todo {
    width: max-content;
    margin: 20px;
    height: 40px;
}